header{
    display: block;
    position: relative;
    background-color: aqua;
}
.headerLogo{
    margin: 5px;
    padding: 3px;
    display: inline-block;
    position: relative;
}
.headerNav{
    display: inline-block;
    padding-top: 25px;
    vertical-align: baseline;
}
.headerNavList{
    list-style: none;
    display: inline-block;
}